body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background: #000000;
  color: white;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}

a:hover {
  color: #0077cc;
}

form {
  background: white;
  padding: 1rem;
  border-radius: 6px;
  max-width: 300px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

.logout-button {
  background: crimson;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

html, body, h1 {
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Container for the secret link */
.link-container {
  display: inline-block;
  position: relative;
}

/* Hidden link styles */
.Hidden-Link {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s ease;
}

/* Show on hover */
.link-container:hover .Hidden-Link {
  visibility: visible;
  opacity: 1;
}
